<!doctype html>
<html lang="en">
{% load static %}
{% block scripts %}
  <script src="{% static 'exams/exam_data.js' %}"></script>
{% endblock scripts%}
{%block head%}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>{% block title%}Home{% endblock %}</title>
  </head>
{%endblock%}
  <body>
  <div style="width:100%;padding:25px;background-color:#525252;">
      <h1 style="color:darkorange;font-family: Arial, Helvetica, sans-serif;"> EDU ONE </h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{%url 'question-list'%}">Question List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'question-create'%}">Add Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'category-create'%}">Add Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'question-test'%}">Test</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{%url 'profile'%}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'register'%}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'login'%}">Login</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
    {% block content%}
    <section id="what-we-do">
    <div class="container-fluid">
      <h2 style="color:darkorange;text-align: center">FEATURES</h2>
      <div class="row mt-5">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div>
            <div class="card-block block-1">
              <h3 class="card-title">Register/Sign in</h3>
              <p class="card-text">Cho phép người dùng tạo tài khoản cá nhân.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div>
            <div class="card-block block-2">
              <h3 class="card-title">Question List</h3>
              <p class="card-text">Cho phép người dùng tìm kiếm và ôn tập lại những câu hỏi từ nhiều đề trong kho đề chung.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div>
            <div class="card-block block-3">
              <h3 class="card-title">Add Question
              </h3>
              <p class="card-text">Tạo câu hỏi cho bộ đề bạn muốn(lưu ý chọn đúng user và điền đầy đủ form).</p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div>
            <div class="card-block block-4">
              <h3 class="card-title">Add Test</h3>
              <p class="card-text">Tạo ra một bộ đề của bạn, sau khi tạo xong dùng add question để thêm câu hỏi cho đề.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div>
            <div class="card-block block-5">
              <h3 class="card-title">Test</h3>
              <p class="card-text">Chọn bài test bạn muốn làm, làm xong sẽ được trả về kết quả.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
          <div>
            <div class="card-block block-6">
              <h3 class="card-title">Profile</h3>
              <p class="card-text">Bao gồm các câu hỏi mà bạn đã tạo, bạn có thể edit hoặc delete chúng tại đây.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>